beautifulsoup4==4.11.1
bpython==0.22.1
matplotlib==3.5.2
numpy==1.22.3
pandas==1.4.2
Pillow==9.1.0
requests==2.27.1
scikit_learn==1.0.2
scipy==1.8.0
torch==1.11.0
torchdatasets==0.2.0
torchsummary==1.5.1
torchvision==0.12.0
